# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos virtuales
venv/
.venv/

# Base de datos local
*.db
*.sqlite3

# Variables de entorno
.env
.env.*

# IDE
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/

# Archivos temporales
*.tmp
*.temp